.box{
    background-color: lightgray;
    border-left: 3px solid red;
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    font-size: 20px;
}

.form{
    border: 1px solid lightgray;
    width: 450px;
    border-radius: 10px;
    background-color: #dfdfdf;
    margin: 0 auto;
    padding: 20px 20px 60px 20px;
}

.box1{
    padding-top: 5px;
    margin-left: 10px;
}

.submit{
    background-color: #bfbfbf;
    color: white;
    padding: 5px 10px;
    border: 1px solid lightgray;
    border-bottom: 2px solid gray;
}